@import "bootstrap-sprockets";
@import "bootstrap";

#notice {
  color: green;
}
#alert {
  color: red;
}
.user {
  color: #337ab7;
}
.content-wrapper {
  padding: 4em 0;
}
.my-nav {
  padding-top: 1em;
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #333;
  ul {
    li {
      display: inline;
      margin-right: 1em;
      a {
        color: inherit;
      }
      img {
        height: 1em;
      }
    }
    .li-right {
      float: right;
    }
  }
}
ul {
  list-style: none;
  padding: 0;
}

label, textarea, input, button, select {
  display: block;
}
input[type="text"],
input[type="number"],
input[type="password"] {
  margin-bottom: 1em;
  width: 100%;
  max-width: 500px;
  border: none;
  border-bottom: solid 1px #333;
  &:focus {
    outline: none;
  }
}
input[type="submit"] {
  margin-top: 1em;
  background-color: white;
  border: solid 1px #333;
}
textarea {
  margin-bottom: 1em;
  width: 100%;
  max-width: 500px;
  height: 100px;
  resize: none;
  &:focus {
    outline: none;
  }
}
.star {
  color: gold;
}
.out-of {
  color: #e0e0e0;
}
.my-footer {
  position: fixed;
  padding: 1em 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: solid 1px #333;
}
