<div class="row">
  <div class="col-sm-6">
    <h2>All Products</h2>
    <ul>
      <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>Products By Country</h2>
    <ul>
      <% @by_country_unique.each do |product| %>
        <li><a href='/country/<%= product.country %>'><%= product.country %></a></li>
      <% end %>
    </ul>
  </div>
</div>
