<div class="row">
  <div class="col-sm-6">
    <h3>All Products</h3>
    <ul>
      <% @products.each do |product| %>
      <li class="li-underline"><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3>Products By Country</h3>
    <ul>
      <% @by_country_unique.each do |product| %>
        <li class="li-underline"><a href='/country/<%= product.country %>'><%= product.country %></a></li>
      <% end %>
    </ul>
  </div>
</div>
