<div class="row">
  <div class="col-md-6">
    <h1>All Products</h1>
    <ul>
      <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h1>Products By Country</h1>
    <ul>
      <% @by_country_unique.each do |product| %>
        <li><%= product.country %></li>
      <% end %>
    </ul>
  </div>
</div>
