<h1>Show Review</h1>

<p><%= link_to "Edit", edit_review_path(@review) %></p>
<p><%= link_to "Delete", review_path(@review),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to reviews", reviews_path %></p>
